
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

.test2{
   color: #212529 !important;
    background-color: #2C3E50 !important;
    
}

.test3{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 178% !important;
   

}

.test1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    
    

}

.test6 ul li .test4:focus{

   color: #fff !important;
   background-color: #1abc9c !important;
   border-radius: 8px !important;

}

.test6 ul li .test4:hover{
   
  color: #1abc9c !important;
 
 }
